:css
  tr.gray, td.gray{
    background-color: lightgray;
  }

  tr.blue, td.blue{
    background-color: #99CCFF;
    color: black;
  }

  table, th, td{
    border: 1px solid black;
  }

#pages-medium
  .page
    .header.editable{ id: 'header' }
      - @page.header ||= ''
      = @page.header.html_safe
    .body.editable{ id: 'body' }
      = @page.body.encode!('UTF-8', 'binary', invalid: :replace, undef: :replace, replace: '').html_safe
    .footer
      Brought to you from Russia (with love)

.actions
  = link_to 'Save document', medium_document_path(@document), id: 'done'
  = link_to 'Cancel', medium_documents_path
