<div class="page">
  <div class="header" name="header-<%= number %>" id="header-<%= number %>" data-mercury="full">
    <h1>A boring document</h1>
  </div>
  <div class="body" name="body-<%= number %>" id="body-<%= number %>" data-mercury="full">
  </div>
  <div class="footer">
    Brought to you from Russia (with love)
  </div>
</div>
